body{
margin:0 auto;
width:80%;
border:1 px solid black;
padding:30px;
background-color: rgb(235, 224, 223);
}
h1{
    color:rgb(179, 6, 6);
    text-align:center;
    font-size:24px;
    text-decoration: underline 2px solid rgb(143, 4, 4);
    background-color: orange;
    border:1px solid black;
    font-family: Nosifer;
}
h1:hover{
background-color: black;
}
img{
    border: 2px solid black;
}