body{
margin:0 auto;
width:80%;
border:1 px solid black;
padding:30px;
background-color: rgb(235, 224, 223);
}
h1{
    color:rgb(179, 6, 6);
    text-align:center;
    font-size:24px;
    text-decoration: underline 2px solid rgb(143, 4, 4);
    background-color: orange;
    border:1px solid black;
    font-family: Nosifer;
}
h1:hover{
background-color: black;
}
h2{
    color:rgb(192, 42, 4);
    text-align:left;
    font-size:20px;
    border: 2px solid black;
    font-weight: bold;
    font-family:Neuton;
}   
h2:hover{
    background-color: black;
}                                                                                                                                                                                                                                                                                                                                                                                                                                           
ol{
    padding:0;
    font-size:0;
}
li{
    display: inline-block;
    width: calc(100%/4);
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
li:hover{
    background-color: rgb(240, 158, 5);
    color:azure;
}
a{
    color: azure;
    text-decoration: none;
}
footer{
    margin-top: 20px;
    color: blue;
}
.politica-priv{
    color: brown;
}
.contacto{
    color: brown;
}
.quienes-somos{
    color: brown;
}
figure{
    float: left;
}
.img1{
border: 2px solid black;
}
.img2{
border: 2px solid black;
}
.img3{
border: 2px solid black;
}
figure:nth-child(2){
    float: inherit;
}
.img4{
    border: 2px solid black;
}
.img5{
    border: 2px solid black;
}
p{
    font-family: Cagliostro;
}
.img6{
  border: 2px solid black;
}
.img7{
  border: 2px solid black;
}



