body{
margin:0 auto;
width:80%;
border:1 px solid black;
padding:30px;
background-color: rgb(235, 224, 223);
}
h1{
    color:rgb(179, 6, 6);
    text-align:center;
    font-size:24px;
    text-decoration: underline 2px solid rgb(143, 4, 4);
    background-color: orange;
    border:1px solid black;
}
h2{
    color:rgb(192, 42, 4);
    text-align:left;
    font-size:16px;
    border: 2px solid black;
}
h3{
    border-bottom: 2px solid rgb(124, 9, 5);                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}
ol{
    padding:0;
    font-size:0;
}
li{
    display: inline-block;
    width: calc(100%/4);
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
a{
    color: azure;
    text-decoration: none;

}
footer{
    color: blue;
}
p.parrafoNormal{
    color: rgb(235, 15, 169);
    font-size:20px;
    text-indent: 20px;
    margin-left:100px;
    padding:20px;
    border:1px solid black;
}

